body{
  @apply font-sans text-gray-700 dark:text-gray-200 relative bg-background overscroll-auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.scrollbar-hide{scrollbar-width:none}
.scrollbar-hide::-webkit-scrollbar{display:none}

.btn {
  --at-apply:
    focus:outline-none disabled:cursor-not-allowed disabled:opacity-75 flex-shrink-0
    font-medium rounded-md text-sm gap-x-2.5 px-3.5 py-2.5 shadow-sm
    text-primary-foreground focus-visible:outline
    focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-light-500
    dark:focus-visible:outline-light-400 inline-flex items-center;
    background-color: hsl(var(--primary)) !important;
}

.btn:hover {
  background-color: hsl(var(--primary) / 0.9) !important;
}
