:root {
  --header-primary: rgba(9, 9, 11, 1);
  --header-hover: rgba(9, 9, 11, 0.1);
  --header-primary-foreground: rgba(250, 250, 250, 1);
  --header-accent: rgba(24, 24, 27, 1);
  --header-accent-foreground: rgba(244, 244, 245, 1);
}

html.dark {
  --header-primary: rgba(250, 250, 250, 1.0);
  --header-hover: rgba(250, 250, 250, 0.1);
  --header-primary-foreground: rgba(24, 24, 27, 1);
  --header-accent: rgba(250, 250, 250, 1);
  --header-accent-foreground: rgba(39, 39, 42, 1);
}

:root {
  --vt-nav-height: 4rem;
  /* Screen Size */
  --vp-screen-max-width: 1376px;
  --vp-z-index-sidebar: 50;

  --vp-sidebar-width-mobile: 320px;
  --vp-sidebar-width-small: 280px;

  --vp-z-index-backdrop: 40;
  --vp-z-index-local-nav: 10;
}
