:root {
  --vt-color-blue: #3b8eed;
  --vt-color-blue-dark: #3468a3;

  --vt-color-red: #ed3c50;

  --vt-color-green: #42b883;

  --vt-color-indigo-soft: #476582;

  --vt-color-yellow-light: #ffe417;

  --vt-color-white-soft: #f9f9f9;

  --vt-color-gray-light: #f2f2f2;

  --vt-color-black-soft: #242424;

}
