.vt-flyout-trigger{
  --at-apply:
    flex items-center px-3
    h-[var(--vt-nav-height)]
    text-foreground
    hover:text-primary
    transition-[color] duration-[0.5s];
}

.vt-flyout-content {
  --at-apply:
    rounded-md border border-solid border-border p-4 shadow-md
    z-50 bg-card text-card-foreground outline-none
    data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0
    data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95
    data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2
    data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;
}
